/node_modules
/public/hot
/public/storage
# Ignoring generated CSS
/public/css
# Ignoring generated Font for bootstrap
/public/fonts
# Ignoring generated JS
/public/js
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
# just for private repo
# .env
# Ignore redis generated content
*.rdb
